cover_db
META.yml
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
MANIFEST.bak
*.sw[po]
*~
MYMETA.*
/Cache-Memcached-Fast-Safe-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
